@font-face {
  font-family: "ValoFont";
  src: url(../Fonts/Valorant\ Font.ttf);
}

@font-face {
  font-family: "TungstenBold";
  src: url(../Fonts/FontsFree-Net-Tungsten-Bold.ttf);
}

.index {
  overflow: hidden;
}

body {
  margin: 0;
  max-width: 100%;
  overflow-x: hidden;
  background-color: #ece8e1;
}

.backimg {
  opacity: 10%;
  position: fixed;
  width: 100%;
  top: 0; /*remove if fixed navbar*/
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  z-index: -1;
}

.navbar {
  background-color: black;
  overflow: hidden;
  padding-bottom: 0px;
  height: 90px;
  /* position: fixed; */
  top: 0;
  width: 100%;
  z-index: 3;
}

.navbar a {
  display: flex;
  float: left;
  color: white;
  padding: 21px 26px;
  font-size: 40px;
}

.active {
  color: #ff4655 !important;
}

.highlight {
  background-color: #242424 !important;
}

.navbar .icon {
  display: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 40px;
  border: none;
  outline: none;
  color: white;
  padding: 21px 26px;
  background-color: inherit;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #292929;
  min-width: 146px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: center;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
  background-color: black;
  color: #ff4655;
}

.dropdown-content a:hover {
  background-color: rgb(22, 22, 22);
  color: #ff4655;
}

.dropdown:hover .dropdown-content {
  display: block;
}

@media screen and (max-width: 600px) {
  .navbar a:not(:first-child),
  .dropdown .dropbtn {
    display: none;
  }
  .navbar a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .navbar.responsive {
    position: relative;
  }
  .navbar.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .navbar.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .navbar.responsive .dropdown {
    float: none;
  }
  .navbar.responsive .dropdown-content {
    position: relative;
  }
  .navbar.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
}

/*Font CSS*/
.valotext {
  color: black;
  font-family: "ValoFont";
}
.text {
  color: black;
  font-family: "TungstenBold", sans-serif;
}
a {
  text-decoration: none;
}

@import url("https://fonts.googleapis.com/css2?family=Paytone+One&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
img {
  width: 100%;
  display: block;
}
body {
  font-family: "Paytone One", sans-serif;
  /* background-color: #769c38; */
}
.count {
  text-align: center;
  font-family: "TungstenBold";
  color: white;
  background-color: #242424;
  border-top: 4px solid #ff4655;
}
.container {
  width: 70%;
  height: 80%;
  margin: 0 auto;
  position: absolute;
  background-color: #ece8e1;
  left: 15%;
  justify-content: center;
  align-content: center;
  user-select: none;
}
.item {
  width: 200px;
  height: 210px;
  left: 20%;
  display: flex;
  justify-content: center;
  position: relative;
  user-select: none;
}
.mole {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
  background-color: #d5d6db;
  border-radius: 50%;
  transition: all 300ms ease;
  user-select: none;
}
.mole img {
  cursor: crosshair;
}
.mole-hide {
  left: 45%;
  bottom: 3%;
  width: 5%;
}
.mole-appear {
  width: 80%;
  bottom: 20%;
}
.bush {
  width: 75%;
  position: relative;
  height: 120px;
  bottom: -40%;
  left: 30%;
  transform: translateX(-50%);
  z-index: 10;
  filter: drop-shadow(20px 22px 0 rgba(15, 25, 35, 0.17));
}
/* 
body {
  overflow: hidden;
} */

.whack-text {
  color: #fff;
  background-color: #ff4655;
  text-transform: uppercase;
  font-family: "TungstenBold";
  padding: 4px 28px;
  text-align: center;
  font-size: 80px;
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
}
.container {
  display: grid;
  grid-template-columns: repeat(3, 35%);
  cursor: crosshair;
}

.gun {
  position: absolute;
  bottom: -10%;
  right: 0%;
  width: 50%;
  height: auto;
  z-index: 10;
  filter: drop-shadow(20px 22px 0 rgba(15, 25, 35, 0.47));
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
