@font-face {
  font-family: "ValoFont";
  src: url(Fonts/Valorant\ Font.ttf);
}

@font-face {
  font-family: "TungstenBold";
  src: url(Fonts/FontsFree-Net-Tungsten-Bold.ttf);
}

@font-face {
  font-family: "DINNextW1G";
  src: url(Fonts/DINNextW1G-Bold.ttf);
}

/*Navbar CSS*/

.index {
  overflow: hidden;
}

body {
  margin: 0;
  max-width: 100%;
  overflow-x: hidden;
  background-color: #ece8e1;
}

.backimg {
  opacity: 10%;
  position: fixed;
  width: 100%;
  top: 0; /*remove if fixed navbar*/
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  z-index: -2;
}

.navbar {
  background-color: black;
  overflow: hidden;
  padding-bottom: 0px;
  height: 90px;
  /* position: fixed; */
  top: 0;
  width: 100%;
  z-index: 100;
}

.navbar a {
  display: flex;
  float: left;
  color: white;
  padding: 21px 26px;
  font-size: 40px;
}

.active {
  color: #ff4655 !important;
}

.highlight {
  background-color: #242424 !important;
}

.navbar .icon {
  display: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 40px;
  border: none;
  outline: none;
  color: white;
  padding: 21px 26px;
  background-color: inherit;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #292929;
  min-width: 146px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: center;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
  background-color: black;
  color: #ff4655;
}

.dropdown-content a:hover {
  background-color: rgb(22, 22, 22);
  color: #ff4655;
}

.dropdown:hover .dropdown-content {
  display: block;
}

@media screen and (max-width: 600px) {
  .navbar a:not(:first-child),
  .dropdown .dropbtn {
    display: none;
  }
  .navbar a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .navbar.responsive {
    position: relative;
  }
  .navbar.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .navbar.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .navbar.responsive .dropdown {
    float: none;
  }
  .navbar.responsive .dropdown-content {
    position: relative;
  }
  .navbar.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
}

/*Header Text*/
.headertext {
  font-size: 100px;
  line-height: 0.9;
}

.header {
  position: relative;
  text-align: left;
  padding-top: 11%;
  padding-bottom: 4%;
  padding-left: 5%;
  animation: 2s ease-out 0s lineUp;
}

@keyframes lineUp {
  0% {
    opacity: 0;
    transform: translateY(80%);
  }
  20% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

.main {
  margin-top: 300px; /* Add a top margin to avoid content overlay */
}

/*Agent Navbar CSS*/
#agentSortbox {
  position: relative;
  width: 65%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding-bottom: 4%;
  animation: 2s ease-out 0s lineUp;
}

.btn {
  border: none;
  outline: none;
  height: fit-content;
  width: 200px;
  padding: 12px 16px;
  background-color: black;
  cursor: pointer;
  font-size: 40px;
}

.btn:hover {
  color: #ff4655 !important;
}

.select {
  background-color: #242424 !important;
  color: #ff4655 !important;
}

/*Agent Flexbox CSS*/
.agent-flex {
  width: 80%;
  position: relative;
  display: flex;
  flex-flow: row wrap;
  left: 10.75%;
  overflow: hidden;
  animation: 2s ease-out 0s lineUp;
}

.card {
  width: 39%;
  height: 30%;
  position: relative;
  padding: 10% 5%;
  background-color: #ece8e1;
  border: 0.75px solid rgba(168, 165, 160, 0.4);
  border-left: 2px solid rgba(168, 165, 160, 0.4);
  border-right: 2px solid rgba(168, 165, 160, 0.4);
  display: none;
}

.show {
  display: block !important;
}

.agentimg {
  display: block;
  position: absolute;
  right: 0;
  /* top: 0; */
  bottom: 0;
  width: 150px;
  height: 150px;
  filter: brightness(0%);
  z-index: 1;
}

.agentname {
  position: absolute;
  top: 15px;
  left: 30px;
  font-size: 60px;
}

.agentnum {
  position: absolute;
  top: 15px;
  right: 175px;
  font-size: 60px;
}

.agentflavortext {
  position: absolute;
  bottom: 6%;
  left: 5%;
  font-size: 19px;
  color: #8a91a1 !important;
  font-family: "DINNextW1G", sans-serif !important;
  font-size: lighter;
  width: 60%;
}

.agentoverlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 74%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: rgba(255, 70, 85, 1);
}

.whitebar {
  position: absolute;
  right: 150px;
  bottom: 0;
  width: 7px;
  background-color: white;
  /* height: 243.5px; */
  height: 100%;
  z-index: 5;
  opacity: 0;
}

.redbar {
  position: absolute;
  right: 150px;
  bottom: 0;
  width: 7px;
  background-color: rgb(255, 70, 85);
  height: 100%;
  z-index: 10;
}

.blackbar {
  position: absolute;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 150px;
  background-image: linear-gradient(rgba(15, 24, 35), rgba(15, 24, 35, 0.5));
  /* z-index: -1; */
  opacity: 0;
}

.class {
  position: absolute;
  max-height: 80px;
  max-width: 80px;
  opacity: 0;
  top: 7px;
  right: 35px;
  z-index: 1;
}

.card:hover .class {
  opacity: 1;
  transition: 3s ease;
  transition-delay: 0.25s;
}

.card:not(:hover) .class {
  transition: 1s ease;
}

.card:hover .agentimg {
  filter: brightness(100%);
  transition: 1.5s ease;
}

.card:not(:hover) .agentimg {
  filter: brightness(0%);
  transition: 1.5s ease;
}

.card:hover .blackbar {
  opacity: 1;
  transition: 0.75s ease;
}

.card:not(:hover) .blackbar {
  opacity: 0;
  transition: 1s ease;
}

.card:hover .agentflavortext {
  opacity: 0;
  transition: 0.5s ease;
}

.card:hover .agentoverlay {
  opacity: 1;
}

.card:not(:hover) .agentoverlay {
  transition: 0.8s ease;
}

.card:hover .agentname {
  color: white;
  z-index: 1;
  transition: 0.5s ease-out;
}

.card:hover .agentnum {
  color: white;
  z-index: 1;
  transition: 0.5s ease-out;
}

.card:hover .whitebar {
  opacity: 1;
  transition: 0.5s ease-out;
}

.card:hover .cardtext {
  opacity: 1;
  color: white;
  transition: 0.5s ease-out;
}

.card:hover .carddesc {
  opacity: 1;
  color: white;
  transition: 0.5s ease-out;
}

.cardtext {
  color: black;
  font-size: 30px;
  position: relative;
  opacity: 0;
  top: 75px;
  left: 31px;
  text-align: left;
  line-height: 0.8;
}

.carddesc {
  color: black;
  font-size: 18px;
  position: relative;
  opacity: 0;
  top: 90px;
  left: 12%;
  right: 12%;
  width: 74%;
  font-family: "DINNextW1G", sans-serif !important;
  font-size: lighter;
  line-height: 0.95;
}

/*Font CSS*/
.valotext {
  color: black;
  font-family: "ValoFont";
}
.text {
  color: black;
  font-family: "TungstenBold", sans-serif;
}
a {
  text-decoration: none;
}

/*placeholder CSS*/
.placeholder {
  padding-top: 15%;
}

/* footer */

#footer {
  background-color: black;
  padding: 4rem 0;
  text-align: center;
}

#footer a {
  color: white;
  transition: var(--trans);
}

#footer a:hover {
  color: red;
}

.footer-links-1 ul,
.footer-links-2 ul {
  flex-wrap: wrap;
  width: 94%;
  justify-content: center;
}

.footer-links-1 {
  margin: 1.5rem 0;
}

.footer-links-1 h2 {
  font-family: "Oswald", sans-serif;
  text-align: center;
}

.footer-links-1 ul li {
  margin: 1rem;
}

.footer-links-1 ul li a {
  font-size: 2.4rem;
}

.footer-links-2 {
  margin-bottom: 2rem;
}

.footer-links-2 ul li {
  padding: 0 1rem;
  margin: 1rem 0;
  border-right: 1px solid white;
  border-left: 1px solid white;
}

#footer .text {
  font-size: 1.3rem;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 2rem;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
