@font-face {
  font-family: "ValoFont";
  src: url(FOnts/Valorant\ Font.ttf);
}

@font-face {
  font-family: "TungstenBold";
  src: url(FOnts/FontsFree-Net-Tungsten-Bold.ttf);
}

/*Navbar CSS*/
.navbar {
  background-color: white;
  overflow: hidden;
  border-bottom: solid black 5px;
  padding-bottom: 0px;
  height: 90px;
}

.navbar a {
  display: flex;
  float: left;
  color: black;
  padding: 22px 26px;
  font-size: 40px;
}
.navbar .active {
  background-color: black;
  color: white;
}

/*Header Text*/
.header {
  background-color: white;
  font-size: 100px;
  position: relative;
  left: 8%;
  top: 18%;
}

/*Weapon Navbar CSS*/

/*Weapon Flexbox CSS*/
.weapon-flex {
  width: 80%;
  position: relative;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  left: 10%;
  right: 10%;
}

.card {
  width: 50%;
  height: auto;
}
/*Font CSS*/
.valotext {
  color: black;
  font-family: "ValoFont";
}
.text {
  color: black;
  font-family: "TungstenBold", sans-serif;
}
a {
  text-decoration: none;
}
