@font-face {
    font-family: "ValoFont";
    src: url(FOnts/Valorant\ Font.ttf);
  }
  
  @font-face {
    font-family: "TungstenBold";
    src: url(FOnts/FontsFree-Net-Tungsten-Bold.ttf);
  }
  
  /*Navbar CSS*/
  
  .index {
    overflow: hidden;
  }
  
  body {
    margin: 0;
    max-width: 100%;
    overflow-x: hidden;
    background-color: #ece8e1;
  }
  
  .navbar {
    background-color: black;
    overflow: hidden;
    padding-bottom: 0px;
    height: 90px;
  }
  
  .navbar a {
    display: flex;
    float: left;
    color: white;
    padding: 22px 26px;
    font-size: 40px;
  }
  .navbar .active {
    background-color: #242424;
    color: #ff4655;
  }
  
  nav {
    display: flex;
    justify-content: space-between;
  }
  
  .menu:hover {
    background-color: black;
    color: #ff4655;
  }
  
  /*Header Text*/
  .headertext {
    font-size: 100px;
  }
  
  .header {
    position: relative;
    text-align: left;
    top: 20%;
    padding: 5% 5% 5%;
  }
  
  /* .header {
      top: 8%;
      left: 6%;
      text-align: left;
      border-bottom: solid black 5px;
      width: 88%;
      } */
  
  /*Weapon Navbar CSS*/
  
  /*Weapon Flexbox CSS*/
 
  /*Font CSS*/
  .valotext {
    color: black;
    font-family: "ValoFont";
  }
  .text {
    color: white;
    font-family: "TungstenBold", sans-serif;
  }
  a {
    text-decoration: none;
  }

  .sec1{
    width: 100%;
    height: 100vh;
    background:url("HomePage/LotusTrailer.mp4");
    background-size: cover;
    background-position: center;

  }
  
h2{
  color: white;
 
}

span{
  color: white;
}

#promo{
  min-height: 100vh;
  margin-bottom: 2rem;
  background: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.3)), url(HomePage/valWallpaper4.jpg) center/cover no-repeat;
  text-align: center;
  animation: backgroundChange 10s infinite;
}

@keyframes backgroundChange{
  0%, 100%{
    background: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.3)), url(HomePage/valWallpaper5.jpg) center/cover no-repeat;
  }

  33%{
    background: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.3)), url(HomePage/valWallpaper6.jpg) center/cover no-repeat;
  }

  66%{
    background: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.3)), url(HomePage/valWallpaper7.jpg) center/cover no-repeat;
  }

}

#promo span{
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;; 
  font-size: 3rem;
}

#promo h2{
  font-size: 4rem;
  letter-spacing: 2px;
  /* font-family:; */
  margin-top: 2rem;
}

#promo .text{
  max-width: 500px;
  margin-right: auto;
  margin-left: auto;
  font-size: 1.8rem;
}

#promo .btn-groups{
  flex-wrap: wrap;
  margin-top: 2rem;
}

#promo .btn-groups a{
  margin: 1rem;
  background-color: green;
  border-radius: .3rem;
  color: #fff;
  padding: 1.4rem 2rem;
  font-size: 1.8rem;
  text-transform: uppercase;
  transition: var(--trans);
}

@media(min-width: 768px){
  #news article, #reviews article{
    display: grid;
    grid-template-columns: 2fr 3fr;
    column-gap: 2rem;
  }

  #news article .item-img, #reviews article .item-img{
    height: 260px;
  }
}


@media(min-width: 1200px){
  #reviews .container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

#footer{
  background-color: black;
  padding: 4rem 0;
  text-align: center;
}

#footer a{
  color: white;
  transition: var(--trans);
}

#footer a:hover{
  color: red;
}

.footer-links-1 ul, .footer-links-2{
  flex-wrap:wrap;
}

.footer-links-1{
  margin: 1.5rem 0;
}

.footer-links-1 h2{
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.footer-links-1 ul li{
  margin: 1rem;
}

.footer-links-1 ul li a{
  font-size: 2.4rem;
}

.footer-links-2{
  margin-bottom: 2rem;
} 

.footer-links-2 ul li{
  padding: 0 1rem;
  margin: 1rem 0;
  border-right: 1px solid white;
}

#footer .text{
  font-size: 1.3rem;
}